html	{
	font family :verdana;
h1	{
	padding-top 16px;
	padding-bottom 16px;
	padding-left 32px;
	padding-right 32px;
	text-aligh:left;
	background-color:#ddd;
	}
	label {
	  display: block;
	  font:
	    1rem 'Fira Sans',
	    sans-serif;
		}

input,
label {
	  margin: 0.4rem 0;
	}
p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

.btn {
  background-color: rgb(57, 131, 57);
 color: rgb(255, 255, 255);
 padding: 6px 12px;
 border: 0;
border-radius: 6px;
}
