html	{
	font family :verdana;
h1	{
	padding-top 16px;
	padding-bottom 16px;
	padding-left 32px;
	padding-right 32px;
	text-aligh:center;
	background-color:#ddd;
	}
	label {
	  display: block;
	  font:
	    1rem 'Fira Sans',
	    sans-serif;
		}

input,
label {
	  margin: 0.4rem 0;
	}
p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}
